body {
    background: black;
}
* {
    border: 1px dashed red;
    min-height: 10px;
}
.postcard {
    background: white;
    width: 400px;
    height: 300px;
    margin: auto;
}
.postcard-header {
    display: flex;
}
.postcard-body {
    display: flex;
}
.pbody {
    margin-top: 0;
}
.body-left {
    padding: 5px;
}
.body-right {
    padding: 5px;
}
.postcard-footer {
    text-align: center;
    padding: 2px;
}
button {
    background-color: gray;
    cursor: pointer;
}
img {
    height: 50px;
    width: 50px;
}
h1 {
    width: 500px;
    margin: 0px;
}
input {
    border: bottom;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: gray;
}


